streamlit
langchain
langchain-groq
python-dotenv
pypdf
pdfplumber
python-docx
pytesseract
Pillow
beautifulsoup4
requests
nltk
chromadb 
sentence-transformers 
langchain-community
torch
torchvision
langchain-text-splitters
protobuf==3.20.3